/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/illuminavariantcalling -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  reads = "./test/*R{1,2}*" 
  ref = "./test/ref.fa"
  phix = "./test/phix.fa"  
}

process {

    cpus = { check_max(1 * task.attempt, 'cpus') }
    memory = { check_max(7.GB * task.attempt, 'memory') }
    time = { check_max(4.h * task.attempt, 'time') }

    withName: BWA {
        cpus = { check_max(4 * task.attempt, 'cpus') }
        memory = { check_max(16.GB * task.attempt, 'memory') }
    }

    withName: SNIPPY {
        cpus = { check_max(4 * task.attempt, 'cpus') }
        memory = { check_max(8.GB * task.attempt, 'memory') }
    }
}
